<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.aclass">

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher_ic"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_ic"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Notification"
            android:label="Test Notification"
            android:parentActivityName="Home"/>
        <activity android:name=".Current" />
        <activity
            android:name=".MapActivity"
            android:label="@string/title_activity_map"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".PermissionsActivity" />

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_maps_api" />

        <activity
            android:name=".Lhome"
            android:label="Book Library" />
        <activity android:name=".UpdateActivity" />
        <activity
            android:name=".AddActivity"
            android:label="Add Book"
            android:parentActivityName=".Lhome" />
        <activity
            android:name=".Home"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>